
.marvel-aside__column {
  // margin-right: 3em;
}

.marvel-aside__pic-name {
  font-family: $brand-sans;
}

.marvel-aside__pic-img {

}

.marvel-aside__creator-title {
  border-bottom: $brand-border;
  font-family: $brand-display;
}

.marvel-aside__creator-list {
  padding: 0;
  font-family: $brand-sans;
  list-style-type: none;
}
