
.container {
  display: flex;
  max-width: 90%;
  margin: auto;
}

.marvel-characters__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.marvel-characters__list-item {
  margin: 0.5em;
  border-radius: 1em;
}

.marvel-character__container {
  position: relative;
  max-width: 100%;
  overflow: hidden;

  &:before {
    display: block;
    content: '';
   }
}

.marvel__character {
  border-radius: 1.5em;
}

.marvel-character__title {
  margin-top: 0;
  border-bottom: $brand-border;
  font-family: $brand-display;
  font-size: 6em;
}

.character-list__comics-info {
  margin-right: 2em;
  // padding: 0 2em;
}
