
.marvel__title {
  width: 100%;
  background-color: $brand-primary;
  color: $brand-white;
}

.marvel__title-name {
  height: 15vh;
  margin-top: 0;
  font-family: $brand-display;
  font-size: 7em;
}
