// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'variables';


.marvel-main {
  display: flex;
  margin: 0 10em;
}

.marvel__title {
  background-color: $brand-primary;
  color: $brand-white;
}

.marvel__title-name {
  padding: 0.6em;
  font-size: 2em;
}

// .marvel__name {
// }

// .marvel-aside__column {
//  // text-align: center;
// }

.marvel-characters {
  margin: 0 2em;
}

.marvel-characters__list-item {
  margin: 0 1.2em;
}

.character-list {
  // display: flex;
}

.marvel-characters__list {
  display: flex;
  // flex-wrap: wrap;
}

.character-list__comics {
  display: flex;
  // flex-wrap: wrap;
}
