// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'variables';
@import 'sidebar';


.marvel-main {
  display: flex;
  flex-grow: 1;
  width: 70%;
  margin: 0 auto;
}

.marvel__title {
  background-color: $brand-primary;
  color: $brand-white;
}

.marvel__title-name {
  margin-top: 0;
  padding: 0.6em;
  font-family: $brand-display;
  font-size: 2em;
}

.marvel-aside__pic {

}

.marvel-aside__pic-img {

}

.marvel-aside__creator-title {
  border-bottom: $brand-border;
}

.marvel-aside__creator-list {
  padding: 0;
  list-style-type: none;
}

.marvel-characters {
  margin: 0 2em;

}

.character-list {
  margin-left: 1em;


}

.marvel-characters__list {
  margin: 0 2em;

}

.marvel-characters__list-item {
  margin: 0 1.2em;
  border-radius: 0.5em;
}

.character-list__comics {
  margin-left: 1em;
  margin: 0 2em;

}

.marvel-character__title {

}

.character-list__comics-info {
  margin: 0 1.2em;
}

.read-button {
  padding: 0.7em 4.2em;
  border-radius: 0.7em;
  background-color: $brand-primary;
  color: $brand-white;
}
